.AllSubjects {
        display: grid;
        grid-template-columns: repeat(1);
        font-family: sans-serif;
        border-radius: 10px;
        background-color:#F3D932;
        text-align: center;
        margin: 0 auto;
        width: 480px;
        
        
}
.header {
    font-family: sans-serif;
    text-align: center;
    width: 400px;
    margin: 2% auto;
    border-radius: 10px;
    background-color: #F3D932;
    
}

.buttons {
    font-family: sans-serif;
    background-color: black;
    color: #F3D932; 
    width: 100px;
    height: 30px;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
}
.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdowncontent a {
    background-color:  black;
    color:  #F3D932;
    padding: 12px 16x;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    
}
.show {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 90%;
}
.backbox{
    background-color: #F3D932;
    width: 500px;
    height: 300px;
    box-shadow: 0px 2px 44px -6px rgba(0,0,0,0.69);
    border: hidden 10px outset;
    margin: 0 auto;
    border-radius: 20px;

}
.mainpage {
    background-color: white;
}
.img {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto; 
    
}