.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

#app {
    height: 600px;
    width: 600px;
    background-color:  #F3D932;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 44px -6px rgba(0,0,0,0.69);
    
}
#output {
    height: 250px;
    width: 250px;
    background-color: black;
    color: #F3D932;
    margin: 5%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}
#inputfield {
    background-color: black;
    color: #F3D932;
}