.body {
    display: flex;
    justify-content: center;
    
}


.main {
    border-radius: 1%;
    width: 600px;
    height: 500px;
    font-family: sans-serif;
    padding: 1%;
    background-color: #F3D932;
    
}
.points {
    display: flex;
    height: 20px;
    width: 100px;
    border: outset 3px black;
    background-color: whitesmoke;
    padding:1%;
    background-color: #F3D932;
}
.image {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 1%;
    justify-content: center;
}
.randomnumber {
    display: flex;
    height: 20px;
    width: 100px;
    border: outset 1px black;
    padding: 1%;
    justify-content: center;
    margin: 0 auto;
    background-color: #F3D932;
}
