.body {
    display: flex;
    justify-content: center;
    margin: 3%;
    
}


.main {
    border-radius: 5%;
    width: 600px;
    height: 500px;
    font-family: sans-serif;
    padding: 1%;
    background-color: #F3D932;
    box-shadow: 0px 2px 44px -6px rgba(0,0,0,0.69);
    
}
.points {
    display: flex;
    height: 20px;
    width: 100px;
    border: outset 3px black;
    padding:1%;
    background-color: black;
    color: #F3D932;
}
.image {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 1%;
    justify-content: center;
}
.randomnumber {
    display: flex;
    height: 20px;
    width: 100px;
    border: outset 1px black;
    padding: 1%;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    color: #F3D932;
}
