.body{
    margin: 2%;
}
.container {
    display: flex;
    border: solid 1x black;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 700px;
    background-color: #F3D932;
    border-radius: 20px;
    box-shadow: -1px 1px 57px 1px rgba(0,0,0,0.51);
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Header {
    font-family: Arial, sans-serif;
    font-size: 300%;
    border: 1px black;
    border-radius: 5%;
}
.buttons {
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 15%;
    cursor: pointer;
    
}
.img {
    height: 250px;
    width: 350px;
    border-radius: 5%;
}
.content {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin: 5%;
    font-family: Arial, sans-serif;
    font-size: x-large;
}
.dogimg {
    height: 250px;
    width: 230px;
    border-radius: 5%;
    cursor: pointer;
}
.darkmode{
    background-color: black;
    color: white;
}