.backboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 450px;
    border-radius: 10px;
    background-color:#F3D932;
    box-shadow: 1px 1px 16px 19px rgba(0,0,0,0.26);

}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.balloutside {
    height: 400px;
    width: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 16px 19px rgba(0,0,0,0.26);
}

.ballinnside {
    height: 200px;
    width: 200px;
    background-color: #FFEFC1;
    border-radius: 50%;
}
.Inputfield {
    position: absolute;
    bottom: 200px;
    font-family: sans-serif;
}
.Answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: x-large;
    
}